
ProfanityFilter/.vs/ProfanityFilter/xs/sqlite3/

ProfanityFilter/.vs/ProfanityFilter/xs/project-cache/

ProfanityFilter/.vs/ProfanityFilter/xs/

ProfanityFilter/ProfanityFilter/bin/Debug/netstandard2.0/

ProfanityFilter/ProfanityFilter/obj/Debug/netstandard2.0/

ProfanityFilter/ProfanityFilter/obj/

ProfanityFilter/.DS_Store

.DS_Store

ProfanityFilter.Tests.Unit/bin/Debug/netcoreapp2.2/

*.dll

ProfanityFilter.Tests.Unit/obj/Debug/netcoreapp2.2/

ProfanityFilter.Tests.Unit/obj/

ProfanityFilter.Tests.Unit/bin/Debug/netcoreapp3.0/

ProfanityFilter/ProfanityFilter/bin/Debug/netstandard2.1/

ProfanityFilter/ProfanityFilter/bin/Debug/

ProfanityFilter/ProfanityFilter/bin/Release/netstandard2.1/

ProfanityFilter/.idea/.idea.ProfanityFilter/.idea/

ProfanityFilter/.idea/.idea.ProfanityFilter/

ProfanityFilter/ProfanityFilter/bin/Release/netstandard2.0/

ProfanityFilter/ProfanityFilter/Properties/PublishProfiles/
