name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.103
    - name: Install dependencies
      run: dotnet restore ./ProfanityFilter
    - name: Build
      run: dotnet build ./ProfanityFilter --configuration Release --no-restore
    - name: Test
      run: dotnet test ./ProfanityFilter --no-restore --verbosity normal
